.section{
    background-image: url("../../assets/img/Picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
.button{
    margin-top: 40px;
    padding: 16px 60px;
    border-radius: 200px;
    border: none;
    background-color: #D84343;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.heading{
    color: white;
    font-size: 3rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.info{
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}