.catalogSection{
    width: 100%;
}
.list{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    border: 1px solid #E5E5E5;
    padding: 24px;
    border-radius: 20px;
    width: 90%;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h3{
    font-size: 1.5rem;
    line-height: 2rem;
}
.header p{
    font-size: 1.25rem;
    line-height: 2rem;
}
.subHeader{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.description{
    margin: 24px 0px;
}
.features{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-bottom: 24px;
}
.features li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    padding: 18px 12px;
    background-color: #F7F7F7;
    margin-bottom: 24px;
}
.link{
    text-decoration: none;
    color: white;
    background-color: #E44848;
    padding: 16px 60px;
    border-radius: 200px;
}
.load{
    background-color: white;
    border: 1px solid #F2F4F7;
    padding: 16px 32px;
    border-radius: 200px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}