.navbar{
    width: 50%;
}

.list{
    display: flex;
    list-style: none;
    gap: 10px;
}
.list li a{
    text-decoration: none;
    color: black;
    transition: all 0.7s ease-in;
}
.list li a:hover{
    color: #E44848;
    
}