.featuresContainer{
    background-color: #F7F7F7;
    width: 50%;
    padding: 44px 80px;
    margin-top: 30px;
    border-radius: 10px;
}


.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin-bottom: 100px;
}

.features li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    padding: 18px 12px;
    background-color: #DADDE1;
    margin-bottom: 24px;
}
.heading{
    font-size: 1.25rem;
    line-height: 2rem;
}
.details{
    display: flex;
    justify-content: space-between;
    
}
.details ul{
    list-style: none;
}
.details ul li{
    padding: 10px 0;
}